[submodule ".3rdparty/vim-colors-solarized"]
	path = .3rdparty/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".3rdparty/pentadactyl-solarized"]
	path = .3rdparty/pentadactyl-solarized
	url = https://github.com/claytron/pentadactyl-solarized.git
[submodule ".3rdparty/quickswitch-for-i3"]
	path = .3rdparty/quickswitch-for-i3
	url = https://github.com/proxypoke/quickswitch-for-i3.git
[submodule ".3rdparty/dynamic-colors"]
	path = .3rdparty/dynamic-colors
	url = https://github.com/sos4nt/dynamic-colors.git
[submodule ".3rdparty/mutt-colors-solarized"]
	path = .3rdparty/mutt-colors-solarized
	url = https://github.com/altercation/mutt-colors-solarized.git
